node_modules
.env
.DS_Store
# Permitimos dist para despliegue simple
!dist
# Ignorar audios pesados de origen
/fotos_y_dibujos/audios
# (Permitimos public/audio para los archivos optimizados que vayamos añadiendo)
